/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

body{
    padding-top: 80px;
    background-color: #272c31;
}
.navbar-nav > li{
    padding-left:20px;
    padding-right:10px;
}

.signupbgc{
    background-color: darkorange;
}