@media (min-width: 768px){
    .home-content, #movie-content {
        padding-top: 40px;
        padding-bottom: 30px;
        margin-left:-20px;
    } 
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

.column{
    float: left;
    width: 100%;
    padding: 10px;
}

#movieContent{
    margin-left: 60px;
}

@media (min-width: 992px){
    #movie-info .rating-row .icon {
        width: 75px;
    }
}

#movie-info .rating-row .icon {
    display: inline-block;
    margin: 0;
}

.star{
    font-size:20px;
    color:yellow;
    margin-left: 10px;
}

.heart{
    font-size:20px;
    color:red;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
  }

.container {
    margin-right: auto;
    margin-left: -20px;
    margin-top:50px;
    padding-left: 15px;
    padding-right: 15px;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.row:after .container:after{
    content: " ";
    display: table;
    clear: both;
}

.row:before .container:before{
    content: " ";
    display: table;     
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: 80%;
    margin-bottom: -16px;
    border: 10px solid white;
}

#movie-poster {
    display: relative;
}

@media (min-width: 1200px){
    .col-lg-5 {
        width: 25%;
        float: left;
    }

    .container {
        width: 1170px;
    }
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20 {
    float: left;
}


@media (min-width: 992px){
#movie-content #movie-poster img {
    height: 390px;
    }
}

#movie-poster img {
    border: 5px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 100%;
}

img {
    vertical-align: middle;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}