<div class="modal-header">
    <h4 class="modal-title">Forgot Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please enter your email Id below for password reset</p>
    <form [formGroup] = "forgotPwdForm">
        <div class="example-container">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> E-mail</mat-label>
                <input matInput formControlName="resetEmail" placeholder="Email Address" #resetemail required>
                <mat-error *ngIf="forgotPwdForm.controls.resetEmail.touched && forgotPwdForm.controls.resetEmail.invalid">
                  <span *ngIf="forgotPwdForm.controls.resetEmail.errors.required">This field is mandatory.</span>
                </mat-error>
                <mat-error *ngIf="forgotPwdForm.controls.resetEmail.touched && forgotPwdForm.controls.resetEmail.invalid">
                  <span *ngIf="forgotPwdForm.controls.resetEmail.errors.pattern">Please enter a proper email id.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-raised" [disabled]="forgotPwdForm.invalid" (click)="resetEmailSubmit()">Submit</button>
    <button class="btn btn-danger btn-raised" (click)="activeModal.dismiss()">Cancel</button>
  </div>