<div>
    <h2 class="heading2">Swedish Movie Review Database: Review a movie or view a review</h2>
    <br>
    <p class="paragraph1">Welcome to SWMDB website. Here you can provide a review for a movie you watched or view a 
        review of a movie which you are going to watch, request a
    </p>
    <p class="paragraph2">movie to be added to this website which you feel a good movie.</p>
    <br>
    <br>
    <h4 class="heading4"><i class="fa fa-star star"></i> Popular Movies</h4>
    <hr class="divider"/>
    <div class="divcard">
        <mat-card class="mat-elevation-z14" style="margin-top:10px">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
            <img mat-card-image src="http://image.tmdb.org/t/p/w185/8WUVHemHFH2ZIP6NWkwlHWsyrEL.jpg" style="margin-top:-56px; margin-bottom: -16px;"/>
            <mat-card-content style="margin-top:20px;">
                <h4>Bloodshot</h4>
            </mat-card-content>
        </mat-card>
    </div>
</div>
