<div>
    <h2 class="heading2">Swedish Movie Review Database: Review a movie or view a review</h2>
    <br>
    <p class="paragraph1">Welcome to SWMDB website. Here you can provide a review for a movie you watched or view a 
        review of a movie which you are going to watch, request a
    </p>
    <p class="paragraph2">movie to be added to this website which you feel a good movie.</p>
    <br>
    <br>
    <h4 class="heading4"><i class="fa fa-star star"></i> Popular Movies</h4>
    <hr class="divider"/>
    <div class="row">
        <div class="browse-movie-wrap col-xs-10 col-sm-2" *ngFor="let obj of popular_movie_poster_path; let i = index">
            <a (click) = "popularMovieClick(popular_movie_title[i],popular_movie_year[i])" class="browse-movie-link">
                <figure>
                    <img class="img-responsive" src={{obj}} width="210" height="315"/>
                </figure>
            </a>
            <div class="browse-movie-bottom">
                <p class="browse-movie-title">
                    {{popular_movie_title[i]}}
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <h4 class="heading4"><i class="fa fa-star star"></i> Now Playing</h4>
        <hr class="divider"/>
        <div class="row">
            <div class="browse-movie-wrap col-xs-10 col-sm-2" *ngFor="let obj of new_movies_poster_path; let i = index">
                <!-- [routerLink]="['/login',popular_movie_title[i]]" -->
                <a (click) = "playingMovieclick(new_movies_title[i],new_movies_year[i])" class="browse-movie-link">
                    <figure>
                        <img class="img-responsive" src={{obj}} width="210" height="315"/>
                    </figure>
                </a>
                <div class="browse-movie-bottom">
                    <p class="browse-movie-title">
                        {{new_movies_title[i]}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <h4 class="heading4"><i class="fa fa-star star"></i> Upcoming Movies</h4>
        <hr class="divider"/>
        <div class="row">
            <div class="browse-movie-wrap col-xs-10 col-sm-2" *ngFor="let obj of upcoming_movies_poster_path; let i = index">
                <!-- <a (click) = "upcomingMovieClick(upcoming_movies_title[i],upcoming_movies_year[i])" class="browse-movie-link"> -->
                <a class="browse-movie-link">
                    <figure>
                        <!-- width="210" height="340" -->
                        <img class="img-responsive" src={{obj}} width="210" height="315"/>
                    </figure>
                </a>
                <div class="browse-movie-bottom">
                    <p class="browse-movie-title">
                        {{upcoming_movies_title[i]}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
