.example-container{
    text-align: center;
    margin-top: 65px;
    margin-left: 325px;
    justify-content: center;
    align-content: center;
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block;
}

.matCard{
    text-align: center;
}