.container {
    /* margin-right: auto;
    margin-left: -200px; */
    margin-top:30px;
    padding-left: 35px;
    padding-right: 15px;
}

.mat-paginator{
    margin-right: 20px;
}

.browse-movie-wrap {
    margin-bottom: 15px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: -16px;
}

.browse-movie-bottom {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 220px;
    margin-left: 0.15px;
    font-size: .95em;
}

.browse-movie-title, .browse-movie-title:focus, #comments-box a {
    color: #fff;
    font-weight: 700;
    display: block;
    transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .95em;
}

a,
a label {
    cursor: pointer;
}

.browse-movie-link {
    display: inline-block;
    max-width: 220px;
    border: 5px solid #fff;
    transition: border .15s ease-in-out;
    -moz-transition: border .15s ease-in-out;
    -webkit-transition: border .15s ease-in-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 24px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #0B60FF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 5.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.form-field{
    display: block;
}


.movie-horizontal-divider{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 100%;
    margin-top: 40px;
}