<div class="container">
    <mat-card class="mat-elevation-z14" style="width: 100%; margin-top:10px">
        <mat-card-header style="justify-content: center;">
            <mat-card-title>Browse Movies</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup] = "moviesForm">
                <div class="input-group mb-3" style="margin-top: 30px;">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Search Term</span>
                    </div>
                    <input type="text" formControlName="searchText" [(ngModel)]="search" placeholder="Start search for a movie by it's title" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Genre</mat-label>
                            <mat-select formControlName="genre" [(ngModel)]="genreSearch" placeholder="Genre">
                                <mat-option *ngFor="let c of genreList" [value]="c">
                                    {{c}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Rating</mat-label>
                            <mat-select formControlName="ratings" [(ngModel)] = "ratingSearch" placeholder="Rating">
                                <mat-option *ngFor="let c of ratingsList" [value]="c">
                                    {{c}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Year</mat-label>
                            <mat-select formControlName="years" [(ngModel)] = "yearSearch" placeholder="Year">
                                <mat-option *ngFor="let c of movieYears" [value]="c">
                                    {{c}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Adult Content</mat-label>
                            <mat-select formControlName="adultContent" [(ngModel)] = "adultSearch" placeholder="Adult Content">
                                <mat-option value="No">No</mat-option>
                                <mat-option value="Yes">Yes</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button color="warn" style="border: none;outline: none;" (click)="moviesForm.reset()">Reset</button>
            <br>
            <br>
        </mat-card-actions>
    </mat-card>
</div>
<hr class="movie-horizontal-divider">
<div class="container">
    <mat-paginator 
        (page)="onPageChange($event)"
        [length]= "content_length"
        [pageSize]="content_length"
        [pageSizeOptions]="[5, 10, 25, 100, content_length]">
    </mat-paginator>
    <ng-container *ngIf="(collection|filter:search|filter:genreSearch|filter:ratingSearch|filter:yearSearch|filter:adultSearch) as result">
        <div class="row" style="margin-top: 20px;">
            <div class="browse-movie-wrap col-xs-10 col-md-3" *ngFor="let obj of result,let i=index;">
                <a (click) = "movieDetails(obj.title,obj.release_year)" class="browse-movie-link">
                    <figure>
                        <img class="img-responsive" [src]= obj.poster_path_s width="210" height="315"/>
                    </figure>
                </a>
                <div class="browse-movie-bottom">
                    <p class="browse-movie-title">
                        {{obj.title}}
                    </p>
                </div>
            </div>
        </div>
        <div align="center">
            <h4 style="color: white; margin-top: 30px;" *ngIf="result.length === 0">No movies found...</h4>
        </div>
    </ng-container>
    
</div>
