<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">SWMDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/movies">Browse Movies</a>
        </li>
        <li *ngIf="!(loginStatus$ | async) as loginStatus" class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li *ngIf="!(loginStatus$ | async) as loginStatus" class="nav-item active">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li *ngIf="(loginStatus$ | async) as loginStatus" class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false">
            {{uname | uppercase}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="role == 'admin'" class="dropdown-item" href="/manageusr">Manage Users</a>
            <a *ngIf="role == 'admin'" class="dropdown-item" href="/addmovie">Add Movie</a>
            <a *ngIf="role == 'user'" class="dropdown-item" href="/movierequest">Request movie</a>
            <a *ngIf="role == 'user'" class="dropdown-item" href="/chgpassword">Change password</a>
            <a *ngIf="role == 'user'" class="dropdown-item" (click)="onDeactivateAcct()">Deactivate account</a>
          </div>
        </li>
        <li *ngIf="(loginStatus$ | async) as loginStatus" class="nav-item active">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
